
mengenlehreuhr\.xcodeproj/xcuserdata/constantinkoehler\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

\.DS_Store

mengenlehreuhr\.xcodeproj/xcuserdata/constantin\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
